<% include ../partials/header %>
<h2>Total Purchase</h2>
<hr>
<table class="table">
    <thead>
        <tr class="bg-success">
            <th>Purchase ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <% totalpurchase.forEach(function(totalpurchase){ %>
        <tr>
            <td scope="row">
                <%= totalpurchase.purchase_id%>
            </td>
            <td>
                <%= totalpurchase.name%>
            </td>
            <td>
                <%= totalpurchase.price%>
            </td>
            <td>
                <%= totalpurchase.quantity%>
            </td>
            <td>
                <%= totalpurchase.total%>
            </td>
            
        </tr>
        <% }); %>
    </tbody>
</table>
<% include ../partials/footer %>