<% include ../partials/header %>
<form action="/products/update" method="post">
  <h2>PRODUCTS Edit</h2>
  <hr>
    <div class="form-group">
      <label for="">ID</label>
      <input type="number"
        class="form-control" value="<%= product.id %>" name="id" id="" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">Product ID</small>
    </div>
    <div class="form-group">
      <label for="">Title</label>
      <input type="text"
        class="form-control" value="<%= product.title %>" name="title" id="" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">Product Title</small>
    </div>
    <div class="form-group">
      <label for="">Price</label>
      <input type="number"
        class="form-control" value="<%= product.price %>" name="price" id="" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">Product Price</small>
    </div>
    <div class="form-group">
        <label for="">Creat At</label>
        <input type="text"
          class="form-control" value="<%= product.created_at %>"name="creat_at" id="" aria-describedby="helpId" placeholder="" disabled >
        <small id="helpId" class="form-text text-muted">Creat At</small>
      </div>

    <a class="btn btn-warning" href="/products" role="button">Back</a>
    <button type="submit"  class="btn btn-success">Save</button>
    <a class="btn btn-danger text-light" onclick="confirm('Are you sure to delete?');" href="/product/delete/<%= product.id %>" role="button">Delete</a>
    </form>
<% include ../partials/footer %>